.board {
    margin: 2vh 43px 10px 14vw;
    padding: 20px;
}

.project-settings {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-bottom: 1vh;
}

.project-settings h1 {
    margin: 0;
}

.project-header {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.save-btn, .share-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    color: var(--, #000);

    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 7px 10px;
    width: wrap;
    height: 36px;
    border-radius: 8px;
    border: none;
    margin-left: 16px;
    margin-right: 33px;
    background-color: #34C6CD;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    appearance: none;
    background-image: url(/imgs/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    cursor: pointer;
}

.filter select:hover {
    background-color: #53aafb;
}

.filter-search-bar {
    display: flex;
    height: 1.5vh;
    width: 13vw;
    max-height: 30px;
    padding: 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0.5em;
    border: 2px solid #53DCFB;
    background: #FFF;
    font-family: "Nunito Sans";
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter-search-bar:hover {
    border-color: #000;
}

.members-settings {
    display: flex;
    align-self: flex-start;
    align-items: center;
    grid-gap: 15px;
}

.members {
    display: flex;
    align-items: center;
    grid-gap: 5px;
}

.task-board {
    width: 1122px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task-column {
    width: 340px;
    height: 900px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(29, 87, 235, 0.10);
    box-shadow: 0px 0px 10.8px 0px #53DCFB inset, 4px 4px 9.8px 0px rgba(0, 0, 0, 0.16);
}

.task-column h2 {
    margin-top: 30px;
    margin-left: 30px;
    font-family: Unbounded;
    font-size: 16px;  
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.task-card {
    background-color: #34C6CD;
    color: #fff;
    padding: 10px;
    border: none;
    width: 290px;
    border-radius: 10px;
    margin: 20px auto 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
}

.task-card:hover {
    background-color: #53aafb;
}

.task-name-table {
    margin: 0.5vh 0.5vh 1vh 0.5vh;
}

.task-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.task-card-photo {
    margin-left: 0.5vh;
}

.task-id-table {
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 1vh;
    margin-left: 0.5vw;
    font-weight: 600
}

.add-column-btn {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 12px;
    border: #1D57EB;
}