.header {
    background-color: #C7F66F;
    padding: 10px;
    height: 5vh;
    width: 85%;
    min-width: wrap;
    margin-left: 13.7%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 2.5vh 2.5vh;
    max-width: 85%;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    max-height: 5vh;
    text-decoration: none;
    color: #000;
    font-size: 1.3vh;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1vh;
}

.nav-links li img {
    height: 0.7vh;
    margin-left: 0.5vw;
}

.nav-links li {
    margin-left: 3vw;
    padding: 10px 0;
    min-width: 3vw;
    align-self: center;
}

.nav-links li:first-child{
    margin-left: 2vw;
}

.nav-links img {
    margin-left: 10px
}

.create-btn {
    padding: 0 1vh;
    background-color: #34C6CD;
    justify-self: center;
    font-size: 1.3vh;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1vh;
    border: none;
    border-radius: 0.5vh;
    height: 3vh;
    min-width: 110px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: rgba(83, 220, 251, 0.50);
}

.nav-side {
    display: flex;
    position: relative;
    right: 0;
    align-items: center;
    margin-right: 4vh;
    margin-left: auto;
    padding: 0;
    height: 100%;
    max-height: 5vh;
}

.search-bar {
    display: flex;
    height: 1.5vh;
    width: 13vw;
    padding: 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0.5em;
    border: 2px solid #53DCFB;
    background: #FFF;
    font-family: "Nunito Sans";
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-bar:hover {
    border-color: #000;
}

.nav-buttons {
    display: flex;
    margin: 0 1.5vw;
    width: wrap;
    justify-content: space-between;
}

.nav-buttons img {
    height: 3vh;
}

.nav-buttons img:first-child {
    margin-right: 0.5vw
}

.nav-photo {
    height: 100%;
    overflow: clip;
}

.profile-button {
    background: none;
    border: none;
    padding: 0;
    height: 100%;
}

.user-icons {
    display: flex;
    align-items: center;
}

.user-icons img {
    width: 1vh;
    border-radius: 50%;
    margin-right: 10px;
}

.add-button {
    cursor: pointer;
}

.add-button:hover {
    background-color: #346ccd;
}

.dropdown-logout-menu {
    position: absolute;
    top: 4vh;
    right: -40px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 1px 1px 5.3px 0px rgba(0, 0, 0, 0.18);
    width: 100px;
    padding-left: 20px;
    font-family: Nunito Sans;
    cursor: pointer;
}

.exit-button {
    cursor: pointer;
    color: #34C6CD;
}

.project-logout-menu {
    position: absolute;
    border-radius: 8px;
    left: 14.8vw;
    background: #FFF;
    box-shadow: 1px 1px 5.3px 0px rgba(0, 0, 0, 0.18);
    width: 200px;
    padding-left: 20px;
    font-family: Nunito Sans;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.project-logout-menu a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.project-logout-menu a:hover {
    color: #34C6CD;
}