.sidebar {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column nowrap;
    background-color: #34C6CD;
    width: 10%;
    min-width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    border-radius: 0px 2.5vh 2.5vh 0px;
    font-size: 18px;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1vh;
    z-index: 5;
}

.sidebar-logo {
    width: 40%;
    margin: 3em auto 2em;
    padding: auto;
    align-self: center;
}

.sidebar-name {
    text-align: center;
    margin: 0 auto 3vh;

}

.page-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10%;
    width: 90%;
}

.page-list li {
    margin-bottom: 2vh;
    padding: 1vh 0 1vh 1vw;
}

.page-list a {
    display: block;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    border-radius: 1.2vh 0 0 1.2vh;
    padding: 1vh 0 1vh 1vw;
}

.page-list a:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.page-list a.active {
    background-color: #fff !important;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
}

.sidebar p {
    text-decoration: none;
    color: #fff;
}